.products__filters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 2rem;
  margin-bottom: 3.5rem;
}

.products__line {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 40px;
    background-color: $text-color-light;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
}

.products__item {
  cursor: pointer;
}

.products__title {
  font-size: $h3-font-size;
  color: $text-color;
  margin-bottom: 0.5rem;
}

.products__stock {
  font-size: $small-font-size;
}

.products__content {
  grid-template-columns: 200px;
  justify-content: center;
}

.products__card {
  background-color: $container-color;
  border-radius: 0.5rem;
  &:hover .products__img {
    transform: translateY(-0.25rem);
  }
}

.products__img {
  width: 150px;
  transition: 0.4s;
}

.products__shape {
  background-color: $card-color;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
  padding: 0.25rem 0;
}

.products__data {
  padding: 1rem 0 1.25rem 1rem;
  position: relative;
}

.products__price {
  font-size: $h2-font-size;
}

.products__name {
  font-size: $normal-font-size;
}

.products__button {
  border-radius: 50%;
  padding: 0.621rem;
  display: inline-flex;
  font-size: 1.25rem;
  position: absolute;
  right: 1rem;
  top: -1.25rem;
  box-shadow: 0 4px 12px hsla(206, 4%, 4%, 0.2);
}

.active-product .products__title {
  color: $title-color;
}
