.quality {
  background-color: #fff;
}

.quality__content {
  row-gap: 2.5rem;
}

.quality__images {
  position: relative;
  justify-self: center;
}

.quality__img-big,
.quality__img-small {
  border-radius: 0.5rem;
}

.quality__img-big {
  width: 280px;
}
.quality__img-small {
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transform: translateX(-5rem);
}

.quality__title,
.quality__price {
  font-size: $h1-font-size;
}

.quality__title {
  margin-bottom: 0.75rem;
}

.quality__price {
  margin-bottom: 0.25rem;
}

.quality__special {
  display: block;
  font-size: $small-font-size;
  margin-bottom: 0.75rem;
}

.quality__description {
  margin-bottom: 2.5rem;
}

.quality__buttons {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.quality__button {
  font-size: $normal-font-size;
  text-transform: uppercase;
  color: $title-color;
  display: inline-flex;
  align-items: center;
  column-gap: 0.75rem;
}

.quality__button i {
  font-size: 1.25rem;
  transition: 0.4s;
}

:hover.quality__button i {
  transform: translateX(0.25rem);
}
