<section class="blog section" id="blog">
    <div class="blog__container container">
        <h2 class="section__title">
            Our Blogs Coffee with trending topic for this week
        </h2>
        <div class="blog__content grid">
            <article class="block__card">
                <div class="block__image">
                    <img src="images/blog1.png" alt="" class="blog__img">
                    <a href="#" class="blog__button">
                        <i class='bx bx-right-arrow-alt'></i>
                    </a>
                </div>
                <div class="blog__data">
                    <h2 class="blog__title"></h2>
                    <p class="blog__description"></p>
                    <div class="blog__footer">
                        <div class="blog__reaction">
                            <i class='bx bx-comment'></i>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>