<section class="especialty section container" id="especialty">
    <div class="specialty__container">
        <div class="specialty__box">
            <h2 class="section__title">
                Specialty coffee that make you happy and cheer you up!
            </h2>
            <div>
                <a href="#" class="button specialty__button">See more</a>
            </div>
            <div class="specialty__category">
                <div class="specialty__group specialty__line">
                    <img src="/images/specialty1.png" alt="" class="specialty__img">
                    <h3 class="specialty__title">Selected Coffee</h3>
                    <p class="specialty__description">We select the best premium coffee, for a true taste</p>
                </div>
                <div class="specialty__group specialty__line">
                    <img src="/images/specialty2.png" alt="" class="specialty__img">
                    <h3 class="specialty__title">Delicious Cookies</h3>
                    <p class="specialty__description">Enjoy your coffee with some hot cookies</p>
                </div>
                <div class="specialty__group">
                    <img src="/images/specialty3.png" alt="" class="specialty__img">
                    <h3 class="specialty__title">Enjoy at Home</h3>
                    <p class="specialty__description">Enjoy the best coffee in the comfort of your home</p>
                </div>
            </div>
        </div>
    </div>
</section>