<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">
            <img class="nav__logo-img" src="images/logo.png" alt="Logo">
            Coffee.
        </a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#product" class="nav__link">Product</a>
                </li>
                <li class="nav__item">
                    <a href="#premium" class="nav__link">Premium</a>
                </li>
                <li class="nav__item">
                    <a href="#blog" class="nav__link">Blog</a>
                </li>
            </ul>
            <div class="nav__close" id="nav-close">
                <i class="bx bx-x"></i>
            </div>
        </div>


        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-grid-alt'></i>
        </div>
    </nav>
</header>