<section class="home grid" id="home">
    <div class="home__container">
        <div class="home__content container">
            <h1 class="home__title">
                Choose Your Favorite Coffee And Enjoy<span>.</span>
            </h1>
            <p class="home__description">
                Buy the best and delicious coffees
            </p>
            <div class="home__data">
                <div class="home__data-group">
                    <h2 class="home__data-number">120K</h2>
                    <h3 class="home__data-title">Testimonials</h3>
                    <p class="home__data-description">Testimonials from various custumers who trust us</p>
                </div>
                <div class="home__data-group">
                    <h2 class="home__data-number">340K</h2>
                    <h3 class="home__data-title">Exlusive Product</h3>
                    <p class="home__data-description">Premium preparation with quality ingredients</p>
                </div>
            </div>
            <a href="#specialty">
                <img src="images/scroll.png" alt="" class="home__scroll">
            </a>
        </div>
    </div>
    <img src="images/home.png" alt="" class="home__img">
</section>