<section class="products section" id="premium">
    <div class="products__container container">
        <h2 class="section__title">
            Choose our delicious and best products
        </h2>
        <ul class="products__filters">
            <li class="products__item products__line">
                <h3 class="products__title">New Delicacies</h3>
                <span class="products__stock">3 products</span>
            </li>
            <li class="products__item products__line">
                <h3 class="products__title">Hot Coffee</h3>
                <span class="products__stock">4 products</span>
            </li>
            <li class="products__item products__line">
                <h3 class="products__title">Cakes and Delicacies</h3>
                <span class="products__stock">4 products</span>
            </li>
        </ul>
        <div class="products__content grid">
            <!-- ====== DELICACIES======= -->
            <article class="products__card">
                <div class="products__shape">
                    <img src="images/delicacies1.png" alt="" class="products__img">
                </div>
                <div class="products__data">
                    <h2 class="products__price">5$</h2>
                    <h3 class="products_name">Cookies</h3>
                    <button class="button products__button">
                        <i class='bx bx-shopping-bag'></i>
                    </button>
                </div>
            </article>
            <article class="products__card">
                <div class="products__shape">
                    <img src="images/delicacies2.png" alt="" class="products__img">
                </div>
                <div class="products__data">
                    <h2 class="products__price">6$</h2>
                    <h3 class="products_name">Croissant</h3>
                    <button class="button products__button">
                        <i class='bx bx-shopping-bag'></i>
                    </button>
                </div>
            </article>
            <article class="products__card">
                <div class="products__shape">
                    <img src="images/delicacies3.png" alt="" class="products__img">
                </div>
                <div class="products__data">
                    <h2 class="products__price">4$</h2>
                    <h3 class="products_name">Croissant</h3>
                    <button class="button products__button">
                        <i class='bx bx-shopping-bag'></i>
                    </button>
                </div>
            </article>
            <!-- ====== COFFEE======= -->
            <article class="products__card">
                <div class="products__shape">
                    <img src="images/coffee1.png" alt="" class="products__img">
                </div>
                <div class="products__data">
                    <h2 class="products__price"></h2>
                    <h3 class="products_name"></h3>
                    <button class="button products__button">
                        <i class='bx bx-shopping-bag'></i>
                    </button>
                </div>
            </article>
            <article class="products__card">
                <div class="products__shape">
                    <img src="images/coffee2.png" alt="" class="products__img">
                </div>
                <div class="products__data">
                    <h2 class="products__price"></h2>
                    <h3 class="products_name"></h3>
                    <button class="button products__button">
                        <i class='bx bx-shopping-bag'></i>
                    </button>
                </div>
            </article>
            <article class="products__card">
                <div class="products__shape">
                    <img src="images/coffee3.png" alt="" class="products__img">
                </div>
                <div class="products__data">
                    <h2 class="products__price"></h2>
                    <h3 class="products_name"></h3>
                    <button class="button products__button">
                        <i class='bx bx-shopping-bag'></i>
                    </button>
                </div>
            </article>
            <!-- ====== CAKE======= -->
            <article class="products__card">
                <div class="products__shape">
                    <img src="" alt="" class="products__img">
                </div>
                <div class="products__data">
                    <h2 class="products__price"></h2>
                    <h3 class="products_name"></h3>
                    <button class="button products__button">
                        <i class='bx bx-shopping-bag'></i>
                    </button>
                </div>
            </article>
        </div>
    </div>
</section>